
body {

    font-family: 'Asap', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #555;
}

b {
    font-weight: 500; 
    color:#333;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

footer {
    background-color: #222222;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.copy {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: red;
    text-decoration: none;
}

/*
.col-md-5 {
    padding-left: 40px;
}
*/

.navright {
    /*padding-right: 50px;*/
    position: absolute;
    top: 35%;
    right: 0;
}

.navright a {
    color: black;
    padding: 15px;
    text-decoration: none;
}

.navright a:hover {
    color: red;
}

.navright li {
    display: inline;
}

.hide {
    display: none;
}

.bHome {
    color: red;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bHome a {
    color: black;
    text-decoration: none;
}

.bHome a:hover {
    color: red;
}

.items {
    margin-bottom: 30px;
    margin-top: 50px;
}


/*.grid1 {
  padding-top: 15px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}*/

.selectbox {
    float: right;
    padding-top: 15px;
}

.Pro1 {
    float: left;
}

.tabs {
    word-spacing: 2px;
}

.shop {
    text-align: center;
    padding: 30px;
}

.imgShop {
    width: 100%;
    height: auto;
}

.adress {
    color: black;
    text-decoration: none;
}

.adress:hover {
    color: red;
}

.boxsearch {
    border: 1px solid #c4c4c4;
    height: 34px;
    width: 600px;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.boxsearch:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.desc:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.subtotal {
    float: right;
}

.img-responsive:hover {
    opacity: 0.4;
}

.demo {
    margin-top: 10px;
}

.drop1 {
    left: 20% !important;
}

.slideme {
    max-width: 990px;
    max-height: 450px;
    width: 100%;
    height: 100%;
}

.navbar-collapse.in {
    overflow-y : none !important;
}

#owl-demo .owl-item div {
    padding: 5px;
}

#owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


  /*
Back to top button 
*/
     #back-top {
        position: fixed;
        bottom: 30px;
        right: 10px;
    }
    
    #back-top a {
        width: 50px;
        display: block;
        text-align: center;
        font: 11px/100% Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #bbb;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    
    #back-top a:hover {
        color: #000;
    }
    /* arrow icon (span tag) */
    
    #back-top span {
        width: 50px;
        height: 50px;
        display: block;
        margin-bottom: 7px;
        background: #ddd url(../Resources/uparrow.png) no-repeat center center;
        /* rounded corners */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    #back-top a:hover span {
        background-color: #777;
    }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #C9302C;
}

/*Search*/
.typeahead-demo .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }
    
    .typeahead-demo .custom-popup-wrapper > .message {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;
    }
    
    .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

/* enable absolute positioning */
.inner-addon {
  position: relative !important;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}


.search2 {
    display: none;
}


/** media queries **/

@media screen and (max-width: 767px) {
    .navright {
        display: none;
    }
    .logocontainer {
        text-align: center;
    }
    .selectbox {
        width: 100%;
        padding-bottom: 30px;
    }
    .demo1 {
        margin-top: 10px;
    }
    .hide {
        display: block !important;
    }
    .foot {
        text-align: center;
    }
    .resize {
        margin-left:20px;
    }
    .copy {
        margin-left:30px;
    }
    .space {
        margin-top:30px;
    }
    .searchbut {
        display: none;
    }
    
    .search1 {
        display: none;
    }
    
    .search2 {
        display: block;
    }
/*
    table {
		overflow-x: none;
		display: block;
	}
*/
    
    /*table responsive*/
    table.table.table-no-more {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table.table.table-no-more,
    table.table.table-no-more thead,
    table.table.table-no-more tbody,
    table.table.table-no-more th,
    table.table.table-no-more td,
    table.table.table-no-more tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.table.table-no-more thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.table.table-no-more tr {
        border: $base-border-style;
    }

    table.table.table-no-more td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: $base-border-style;
        position: relative;
        padding-left: 30%;
        white-space: normal !important;
        text-align:left;
    }

    table.table.table-no-more td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 25%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    table.table.table-no-more td:before { content: attr(data-title); }
}

