body {

    font-family: myFirstFont;
      font-size: 16px;
    line-height: 1.7;
    color: #555;
}

b {
    font-weight: 500; 
    color:#333;
}

@font-face {
   font-family: myFirstFont;
   src: url(../fonts/AsapRegular.otf);
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

footer {
    background-color: #222222;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.copy {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: red;
    text-decoration: none;
}

/*
.col-md-5 {
    padding-left: 40px;
}
*/

.navright {
    /*padding-right: 50px;*/
    position: absolute;
    top: 35%;
    right: 0;
}

.navright a {
    color: black;
    padding: 15px;
    text-decoration: none;
}

.navright a:hover {
    color: red;
}

.navright li {
    display: inline;
}

.hide {
    display: none;
}

.bHome {
    color: red;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bHome a {
    color: black;
    text-decoration: none;
}

.bHome a:hover {
    color: red;
}

.items {
    margin-bottom: 30px;
    margin-top: 50px;
}


/*.grid1 {
  padding-top: 15px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}*/

.selectbox {
    float: right;
    padding-top: 15px;
}

.Pro1 {
    float: left;
}

.tabs {
    word-spacing: 2px;
}

.shop {
    text-align: center;
    padding: 30px;
}

.imgShop {
    width: 100%;
    height: auto;
}

.adress {
    color: black;
    text-decoration: none;
}

.adress:hover {
    color: red;
}

.boxsearch {
    border: 1px solid #c4c4c4;
    height: 34px;
    width: 600px;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.boxsearch:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.desc:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.subtotal {
    float: right;
}

.img-responsive:hover {
    opacity: 0.4;
}

.demo {
    margin-top: 10px;
}

.dropdown-menu {
    left: 20% !important;
}

.slideme {
    max-width: 990px;
    max-height: 450px;
    width: 100%;
    height: 100%;
}

.navbar-collapse.in {
    overflow-y : none !important;
}

#owl-demo .owl-item div {
    padding: 5px;
}

#owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


  /*
Back to top button 
*/
     #back-top {
        position: fixed;
        bottom: 30px;
        right: 10px;
    }
    
    #back-top a {
        width: 50px;
        display: block;
        text-align: center;
        font: 11px/100% Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #bbb;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    
    #back-top a:hover {
        color: #000;
    }
    /* arrow icon (span tag) */
    
    #back-top span {
        width: 50px;
        height: 50px;
        display: block;
        margin-bottom: 7px;
        background: #ddd url(../Resources/uparrow.png) no-repeat center center;
        /* rounded corners */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    #back-top a:hover span {
        background-color: #777;
    }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #C9302C;
}


/** media queries **/

@media screen and (max-width: 767px) {
    .navright {
        display: none;
    }
    .logocontainer {
        text-align: center;
    }
    .selectbox {
        width: 100%;
        padding-bottom: 30px;
    }
    .demo1 {
        margin-top: 10px;
    }
    .hide {
        display: block !important;
    }
    .foot {
        text-align: center;
    }
    .resize {
        margin-left:20px;
    }
    .copy {
        margin-left:30px;
    }
    .space {
        margin-top:30px;
    }
    .searchbut {
        display: none;
    }
}