th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9; }

body {
  font-family: Asap;
  font-size: 16px; }

footer {
  background-color: #222222;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px; }
  footer a {
    color: white; }
    footer a:hover {
      color: red;
      text-decoration: none; }

.navbar {
  margin-bottom: 0;
  border-radius: 0; }

.copy {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

ul {
  list-style: none; }

.navright {
  position: absolute;
  top: 35%;
  right: 0; }
  .navright a {
    color: black;
    padding: 15px;
    text-decoration: none; }
    .navright a:hover {
      color: red; }
  .navright li {
    display: inline; }

.hide {
  display: none; }

@font-face {
  font-family: Asap;
  font-style: normal;
  font-weight: 400;
  src: local("Asap"), local("Asap-Regular"), url(../fonts/Asap.woff2) format("woff2");
  unicode-range: U100-24F, U1E00-1EFF, U20A0-20AB, U20AD-20CF, U2C60-2C7F, UA720-A7FF; }

@font-face {
  font-family: Asap;
  font-style: normal;
  font-weight: 400;
  src: local("Asap"), local("Asap-Regular"), url(../fonts/Asap.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

.items {
  margin-bottom: 30px;
  margin-top: 50px; }

.selectbox {
  float: right;
  padding-top: 15px; }

.Pro1 {
  float: left; }

.tabs {
  word-spacing: 2px; }

.shop {
  text-align: center;
  padding: 30px; }

.imgShop {
  width: 100%;
  height: auto; }

.adress {
  color: black;
  text-decoration: none; }
  .adress:hover {
    color: red; }

.boxsearch {
  border: 1px solid #c4c4c4;
  height: 34px;
  width: 600px;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 8px #d9d9d9; }
  .boxsearch:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0 0 8px #7bc1f7; }

table {
  border-collapse: collapse;
  width: 100%; }

.subtotal {
  float: right; }

.demo {
  margin-top: 10px; }

.dropdown-menu {
  left: 20% !important; }

.slideme {
  max-width: 990px;
  max-height: 450px;
  width: 100%;
  height: 100%; }

#back-top {
  position: fixed;
  bottom: 30px;
  right: 10px; }
  #back-top a {
    width: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    transition: 1s; }
    #back-top a:hover {
      color: black; }
      #back-top a:hover span {
        background-color: #777; }
  #back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background: #d9d9d9 url(../Resources/uparrow.png) no-repeat center center;
    border-radius: 15px;
    transition: 1s; }

@media screen and (max-width: 767px) {
  .navright {
    display: none; }
  .logocontainer {
    text-align: center; }
  .selectbox {
    width: 100%;
    padding-bottom: 30px; }
  .demo1 {
    margin-top: 10px; }
  .hide {
    display: block !important; }
  .foot {
    text-align: center; }
  .resize {
    margin-left: 20px; }
  .copy {
    margin-left: 30px; }
  .space {
    margin-top: 30px; } }

.carousel-inner > .item > img {
  margin: 0 auto; }

.bHome a {
  color: black;
  text-decoration: none; }
  .bHome a:hover {
    color: red; }

.desc:hover {
  text-decoration: none; }

.img-responsive:hover {
  opacity: 0.4; }

.navbar-collapse.in {
  overflow-y: none !important; }

#owl-demo .owl-item div {
  padding: 5px; }

#owl-demo .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px; }

.navbar-inverse .navbar-toggle:focus {
  background-color: #c9302c; }

.navbar-inverse .navbar-toggle:hover {
  background-color: #c9302c; }
