<div class="container">
	<h2>About Us</h2>
  <br>
  <br>
  <div class = "tabs">
	
  <p>W-REAL-M is the must-have sexy, sophisticated fashion brand for work, the weekend, or going out. It's what's new and what's now for young fashion-forward women and men. We started more than thirty years ago as an experiment - an offshoot of another successful retail concept. There was nothing but opportunity in front of us and we took it.</p>

    
<p>We aren’t inventors - there are so few of those in the world of fashion today - nor are we imitators, that is far too easy.  At W-REAL-M, we are innovators. We find inspiration and trends from all over the world and interpret them in a way that is uniquely W-REAL-M. And we have become the preferred destination for the latest trends.</p>

   
<p>W-REAL-M is a specialty apparel and accessories retailer of women's and men's merchandise, targeting the 20 to 30 year old customer. The Company has over 30 years of experience offering a distinct combination of fashion and quality for multiple lifestyle occasions at an attractive value addressing fashion needs across work, casual, jeanswear, and going-out occasions. The Company currently operates more than 600 retail and factory outlet stores, located primarily in high-traffic shopping malls, lifestyle centers, and street locations across the United States, Canada and Puerto Rico. W-REAL-M merchandise is also available at franchise stores in the Middle East and Latin America. The Company also markets and sells its products through the Company's online store, www.wrealm.com.</p>
</div>
<div class="container shop">
<img class="imgShop" src="Resources/Shop.jpg" alt="Shop" >
<br>
<br>
<p><a href="https://www.google.com/maps/place/356%2F17+V%C3%B5+V%C4%83n+Ng%C3%A2n,+B%C3%ACnh+Th%E1%BB%8D,+Th%E1%BB%A7+%C4%90%E1%BB%A9c,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.8488452,106.7691983,17z/data=!3m1!4b1!4m2!3m1!1s0x3175270a90aa1c41:0x336ccbe96109b2b4" class="adress"> <strong>356/17- Vo Van Ngan - Thu Duc</strong></a></p>
<p>Monday - Friday, 9am - 9pm</p>
<p>Saturday - Sunday, 10am - 9pm</p>

</div>

</div>

<br>
<br>

