<div class="container">
    <h2>Contact Us</h2>

    <p>We would be pleased to answer any questions you may have. Please contact us at the following, or use the contact form below:</p>
    <br>


    <div class="form-horizontal" role="form">

        <div class="form-group">

            <label class="control-label col-md-2" for="inputEmail1">* Email</label>
            <div class="col-md-10">
                <input id="inputEmail1" class="form-control" type="email" placeholder="Email" autofocus="autofocus" required="required" data-type="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="name1">Name</label>
            <div class="col-md-10">
                <input id="name1" class="form-control" type="text" placeholder="Contact Name" name="name" data-type="name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="company">Company</label>
            <div class="col-md-10">
                <input id="company" class="form-control" type="text" placeholder="Company" name="company" data-type="company">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="phone11">Phone</label>
            <div class="col-md-10">
                <input id="phone11" class="form-control" type="tel" name="phone1" data-type="phone1" placeholder="Phone number">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="inputRemarks11">Details</label>
            <div class="col-md-10">
                <textarea id="inputRemarks11" class="form-control" cols="40" rows="5" data-type="remarks"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-danger" type="submit">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>



<br>
<br>
<br>
<br>