<footer>
    <br>
    <div class="container foot">

        <div class="col-md-3 col-xs-12">
            <ul class="links">
                <p><strong>Quick Links</strong></p>
                <li><a href="#about">About Us</a></li>
                <br>
                <li><a href="#pripo">Privacy Policy</a></li>
                <br>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
            <br>
            <br>
        </div>
        <div class="col-md-5 col-xs-12 resize">
            <p><strong>Follow Us</strong></p>
            <a><i class="fa fa-facebook-square fa-2x fa-fw"></i></a>
            <a><i class="fa fa-twitter fa-2x fa-fw"></i></a>
            <a><i class="fa fa-pinterest fa-2x fa-fw"></i></a>
            <a><i class="fa fa-google-plus fa-2x fa-fw"></i></a>
            <a><i class="fa fa-instagram fa-2x fa-fw"></i></a>
            <a><i class="fa fa-tumblr fa-2x fa-fw"></i></a>
            <a><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
            <a><i class="fa fa-vimeo fa-2x fa-fw"></i></a>
            <br>
            <br>
            <br>
            
        </div>
        <div class="col-md-4 col-xs-12 resize">
            <p><strong>Newsletter</strong></p>
            <p>Sign up for the latest news, offers and styles</p>
            <input type="email" class="form-control" placeholder="Email">
            <br>
            <button type="submit" class="btn btn-danger">Subscribe</button>
            <br>
            <br>
        </div>
    </div>
    <div class="copy">&copy; 2016 All Rights Reserved
        <br>
        <br>
        <p>Design by Flyc Nguyen</p>
    </div>
</footer>