<footer>
    <br>
    <div class="container">

        <div class="col-md-3 col-sm-3 col-xs-3">
            <ul class="links">
                <p><strong>Quick Links</strong></p>
                <br>
                <li><a href="#search">Search</a></li>
                <br>
                <li><a href="#about">About Us</a></li>
                <br>
                <li><a href="#pripo">Privacy Policy</a></li>
                <br>
                <li><a href="#contact">Contact Us</a></li>

            </ul>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-5">
            <p><strong>Follow Us</strong></p>

            <a><i class="fa fa-facebook-square fa-2x fa-fw"></i></a>
            <a><i class="fa fa-twitter fa-2x fa-fw"></i></a>
            <a><i class="fa fa-pinterest fa-2x fa-fw"></i></a>
            <a><i class="fa fa-google-plus fa-2x fa-fw"></i></a>
            <a><i class="fa fa-instagram fa-2x fa-fw"></i></a>
            <a><i class="fa fa-tumblr fa-2x fa-fw"></i></a>
            <a><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
            <a><i class="fa fa-vimeo fa-2x fa-fw"></i></a>

        </div>


        <div class="col-md-4 col-sm-4 col-xs-4">
            <p><strong>Newsletter</strong></p>

            <p>Sign up for the latest news, offers and styles</p>
            <input type="email" class="form-control" placeholder="Email">
            <br>
            <button type="submit" class="btn btn-danger">Subscribe</button>

        </div>



    </div>

    <div class="copy">&copy; 2016 All Rights Reserved</div>


</footer>