<div class="navbar navbar-inverse nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" runat="server" href="#/">Shop+</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav hide">
                <li><a runat="server" href="#/">Home</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Product<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#product">All Product</a></li>
                        <li><a href="#product/The Dress Shop">The Dress Shop</a></li>
                        <li><a href="#product/Shoes & Accessories">Shoes & Accessories</a></li>
                        <li><a href="#product/Beauty">Beauty</a></li>
                    </ul>
                </li>
                <li><a runat="server" href="#/about">About Us</a></li>
                <li><a runat="server" href="#/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#cart" class="fa fa-shopping-bag"> <span class="badge" ng-bind="numitem"></span></a>
                </li>
                <li>
                    <form role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input ng-model="itemsearch" type="text" placeholder="Search" class="form-control" />
                        </div>
                        <button ng-click="searching(itemsearch)" type="submit" class="btn btn-danger"><i class="fa fa-search"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<div class="logo">
    <div class="container logocontainer" style="position: relative;">
        <a href="#/">
            <img class="imglogo" src="Resources/Logo.png" alt="Logo" width="100" height="100">
        </a>
        <div class="navright">

            <a href="#/" style="font-size:150%;"><i class="fa fa-home"></i> Home</a>
            <a href="" style="font-size:150%;" data-toggle="dropdown"><i class="fa fa-gift"></i></i> Product <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#product">All Product</a></li>
                <li><a href="#product/The Dress Shop">The Dress Shop</a></li>
                <li><a href="#product/Shoes & Accessories">Shoes & Accessories</a></li>
                <li><a href="#product/Beauty">Beauty</a></li>
            </ul>
            <a runat="server" href="#about" style="font-size:150%;"><i class="fa fa-users"></i></i> About Us</a>
            <a runat="server" href="#contact" style="font-size:150%;"><i class="fa fa-phone"></i> Contact</a>


        </div>
    </div>
</div>