
<div class="container">

    <p class="bHome"><a href="#/">Home</a> <i class="fa fa-angle-right"></i> Product</p>

    <div class="container">
        <h2 class="Pro1" ng-bind="type"></h2>

        <div class="selectbox" style="margin-left:5px;">
            <select class="form-control" ng-model="sletype" ng-change="back()">
                <option value="">All</option>
                <option value="Dress">Dress</option>
                <option value="Shoes">Shoes</option>
                <option value="Bag">Bag</option>
                <option value="Jewelry">Jewelry</option>
                <option value="Beauty">Beauty</option>
            </select>
        </div>

        <div class="selectbox">
            <select class="form-control" ng-model="sleprice" ng-change="back()">
                <option value="">Featured</option>
                <option value="name">A-Z</option>
                <option value="-name">Z-A</option>
                <option value="price">Price, low to high</option>
                <option value="-price">Price, high to low</option>
            </select>
        </div>
    </div>

    <div class="container grid1">

        <div dir-paginate='p in items| filter:{type:sletype} | orderBy:sleprice | itemsPerPage: pageSize ' current-page="currentPage">
            <div class="col-lg-2 col-md-6 col-xs-12 items">
                <a href="#detail\{{p.id}}"><img class="img-responsive" ng-src="{{p.image}}"></a>
                <div class="desc"><strong>{{p.name}}</strong></div>
                <div class="desc">{{p.from}}</div>
                <div class="desc">${{p.price | number:2}}</div>
            </div>
            <div ng-if="$index > 1 && ($index + 1) % 6 == 0" class="clearfix"></div>

        </div>

    </div>
    <div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
    </div>


</div>

