<div class="container">
	<h2>Search for products on our site</h2>
  <br>
  <br>
  <div>
	<p>
 <input type="search" class="boxsearch" placeholder="Search our store">
  <button type="submit" class="btn btn-danger butsearch"><i class="fa fa-search"></i></button>
</div>
</p>

</div>

<hr class="container">
<div class = "container">
 <a href="#detail/dress1"><img class="img-responsive col-md-4 col-sm-4 col-xs-4" src="Resources/D1.jpg" width="100"></a>
<div class ="col-md-8 col-sm-8 col-xs-8">
<a href="detail.html" style="color:red; font-size: 20px;">Akebono Halter Dress</a>
<br>
<br>
    <div class="desc">$132.00</div>
    <br>
    <div class="desc">This is a sample product only, and not available for purchase.</div>


</div>
</div>
<br>
<br>
